<ul class="nav nav-tabs p-3 mb-2 bg-dark text-white">
  <li class="nav-item">
    <a class="nav-link active" href="#">Blogify</a>
  </li>
  <li class="nav-item dropdown">
    <a
      class="nav-link dropdown-toggle"
      data-toggle="dropdown"
      href="#"
      role="button"
      aria-haspopup="true"
      aria-expanded="false"
      >Uditi Mehrotra</a
    >
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Logout</a></li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Add Blog</a>
  </li>
</ul>
